<script src="~/Content/App/appBase.js"></script>
@model FocusBrazilSFC.Core.ProjectConfig
@{
    ViewBag.Title = TempData["title"];
}
<h2>@ViewBag.Title</h2>

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ID_PROJECT)</dt>
        <dd>@Html.DisplayFor(model => model.Project.PROJECT_CODE)</dd>

        <dt>@Html.DisplayNameFor(model => model.NAME)</dt>
        <dd>@Html.DisplayFor(model => model.NAME)</dd>

        <dt>@Html.DisplayNameFor(model => model.VALUE)</dt>
        <dd>@Html.DisplayFor(model => model.VALUE)</dd>

        <dt>@Html.DisplayNameFor(model => model.HASH)</dt>
        <dd>@Html.DisplayFor(model => model.HASH)</dd>

        <dt>@Html.DisplayNameFor(model => model.DATE_CREATE)</dt>
        <dd>@Html.DisplayFor(model => model.DATE_CREATE)</dd>

        <dt>@Html.DisplayNameFor(model => model.ACTIVE)</dt>
        <dd>@Html.DisplayFor(model => model.BACTIVE)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
