<script src="~/Content/Supplier/index.js"></script>
@using PagedList.Mvc;
@model PagedList.IPagedList<WebCore.DTO.SupplierDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de Fornecedores";

    <div class="body-content">

        <div class="row" style="clear: both;">
            <div class="col-md-12">
                <div id="alerts" class="alert-danger alert-dismissible"></div>
            </div>
        </div>

        @if (ViewBag.Erro != "")
        {
            <div class="alert alert-danger">
                <div class='row'>
                    <div class='col-md-12 text-danger' style="text-align: center">
                        <h1><strong>Erro!</strong></h1>
                        <h2>@ViewBag.Erro</h2>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-5"><h2>@ViewBag.Title</h2></div>
                <div class="col-md-7" style="margin-top: 12px">
                    <div class="btn-group">
                        <button class="button" id="btnIncluir">Incluir</button>
                        <button class="button" id="btnAbrir">Abrir</button>
                        <button class="button" id="btnExcluir">Excluir</button>
                        <button class="button" id="btnAtivar">Ativar</button>
                        <button class="button" id="btnDesativar">Desativar</button>
                        <button class="button" id="btnVoltar">Voltar</button>
                    </div>
                </div>
            </div>
            <hr />
            <table class="table" id="suppliers">
                <tr style="background: #EBEBEB">
                    <th>#</th>
                    <th>@Html.Raw("Tipo Pessoa")</th>
                    <th>@Html.Raw("Nacional")</th>
                    <th>@Html.Raw("CPF/CNPJ")</th>
                    <th>@Html.Raw("Nome/Razão Social")</th>
                    <th>@Html.Raw("Porte")</th>
                    <th>@Html.Raw("Situacao")</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    //var status = item.ACTIVE == 1 ? "Yes" : "No";
                    //var classStatus = item.ACTIVE == 1 ? "label label-success" : "label label-danger";
                    //var strProject = item.Project != null ? item.Project.PROJECT_CODE : "";
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @Html.DisplayTextFor(m => item.GetTipoPessoa)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => item.GetNacional)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => item.CPFCNPJ)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => item.RazaoSocial)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => item.GetPorte)
                        </td>
                        <td>
                            @Html.DisplayTextFor(m => item.GetSituacao)
                        </td>
                        @*<td class="text-center" style="width: 210px">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs btn-style" })&nbsp;
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs btn-style" })&nbsp;
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs btn-style" })
                            </td>*@

                        @*<div class="input-group">
                            <label for="" opt-input-return">Station Return:</label>
                            <select id="opt-tipoempresa" class="form-control">
                                <option title="Station Return">MASTER_PACK01</option>
                                <option title="Station Return">MASTER_PACK02</option>
                                <option title="Station Return">MASTER_PACK03</option>
                            </select>
                        </div>*@
                    </tr>
                }
            </table>
        }

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        @*@Html.PagedListPager(Model, page => Url.Action("Index", new { @ViewBag.workOrder, page, @ViewBag.filter }))*@
    </div>

    @Html.Partial(@"~/Views/Supplier/SupplierEdir.cshtml")
}
<style>
    /**Cor quando selecionado**/
    #suppliers tr.selecionado td {
        background-color: #afd8ff;
        /*#bdefed;*/
    }

    .btn-group .button {
        background-color: #00577d; /* Green */
        border: none;
        border-radius: 8px;
        color: white;
        padding: 15px 35px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        float: left;
    }

        .btn-group .button:hover {
            background-color: #0e3867;
        }

    .card-body {
        margin-left: 30px;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    #suppliers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        cursor: pointer; /**importante para não mostrar cursor de texto**/
    }

    #suppliers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #suppliers tr:hover {
        background-color: #ddd;
    }

    #suppliers th {
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #486f43;
        color: white;
    }
</style>
